
*.vsidx
ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/2dd03600-0de0-486f-b212-7b0dd13eaefd.vsidx
ConsoleApp1/ConsoleApp1/obj/Debug/DesignTimeResolveAssemblyReferences.cache
ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/2dd03600-0de0-486f-b212-7b0dd13eaefd.vsidx
